spring:
  application:
    name: reporting-query-optimization
  datasource:
    url: jdbc:h2:mem:reporting;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
logging:
  level:
    org.hibernate.SQL: debug